*{
    font-family: 'Yusei Magic', sans-serif;
}


.mycontainer{
    color: white;
    width: 300px;
    height: 200px;
    background-image: url('https://i.pinimg.com/originals/cb/a6/84/cba684ff0289ca2d92c5af9ed15acede.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding-top: 40px;
    backdrop-filter: drop-sha;
    color: rgb(0,0,255);
    
}

.wrap{
    margin: auto;
    width: 300px;
}

.mybtn {
    width: 300px;
    height: 50px;
    color: white;
    border-radius: 10px;
    background-color: red;    
}

.text {
    display: inline-block;
}

input[type="password"] {
    width: 260px;
}